#tit{
  width: 100%;
  height: 3rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#ent{

  width: 100%;
  height: 100%;
  background-color: rgb(91, 91, 226);
  color: white;
  border: 0;
}

.but{
  padding: 0;
  height: 1rem;
}
